<div class="post {{theme}}-theme" [class.no-border-bottom]="isLast">
    <div class="avatar-container">
        <div class="avatar" 
            aria-label="Leggi il post"
            matTooltip="Leggi il post"
            (click)="operPostPreview()">
            {{ getInitials() }}
        </div>
    </div>
    <div class="post-info">
        <h2 class="title" (click)="operPostPreview()">
            {{ post ? post.title : 'Post senza titolo' }}
        </h2>
        <p *ngIf="user" class="author-info">
            Pubblicato da <a [routerLink]="['/user', post?.userId]">{{ post ? user.username : '' }}</a>
        </p>
    </div>
</div>
