.post {
    display: flex;
}
.post:not(.no-border-bottom){
    border-bottom: 1px solid #eee;
}
.post-info {
    flex: 1;
}
.post-info h2 {
    margin: 16px 0px;
}
.author-info {
    font-size: 0.75rem;
}
@media only screen and (max-width: 768px) {
    .author-info {
        font-size: 0.7rem;
    }
} 
.avatar-container {
    display: flex;
    align-items: center;
}
.avatar-container, .post-info {
    padding: 10px;
}
.avatar {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    background-color: rgb(105, 105, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
.title {
    cursor: pointer;
}
.pink-theme .avatar {
    background-color: #ec407a;
}