<div class="toolbar {{theme$}}-theme">
    <input 
      class="filter" 
      #filter 
      type="text" 
      placeholder="Cerca per titolo"
      (input)="updateFilter(filter.value)">

    <div class="theme">Cambia Tema:
        <div class="color-ball default" 
        [class.selected]="theme$ == 'default'"
        (click)="updateTheme('default')"
        matTooltip="Tema indaco">
        </div>
        <div class="color-ball pink" 
        [class.selected]="theme$ == 'pink'"
        (click)="updateTheme('pink')"
        matTooltip="Tema rosa">
        </div>
    </div>
</div>