.toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.theme {
    color:rgb(95, 95, 102);
    padding-left: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
input.filter {
    padding: 15px 20px;
    border: 0px;
    background-color: #eee;
    color: rgb(95, 95, 102);
    border-radius: 25px;
    font-size: 1rem;
    flex: 1;
}
input.filter:focus-visible {
    outline: none;
    border: 2px solid rgb(146, 146, 243);
    margin: -2px;
}
@media only screen and (max-width: 568px) {
    input.filter {
        flex: 100%;
        margin-bottom: 15px;
    }
    .theme {
        flex: 100%;
        justify-content: flex-end;
    }
    input.filter:focus-visible {
        margin-bottom: 13px;
    }
}
.pink-theme input.filter:focus-visible {
    border: 2px solid #ec407a;
}
.color-ball {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    border: 5px solid;
    cursor: pointer;
}
.color-ball.pink {
    background-color: #ec407a;
    border-color: #ec407a;
}
.color-ball.default {
    background-color: rgb(146, 146, 243);
    border-color: rgb(146, 146, 243);
}
.color-ball.selected {
    background-color: #fff;
}