article {
    padding: 20px;
    max-width: 700px;
}
.author-info {
    font-size: 0.75rem;
}
.body {
    margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
    .author-info {
        font-size: 0.7rem;
    }
} 