<article class="post-dialog {{theme$}}-theme">
    <p class="author-info">
        Pubblicato da {{ user.name }} alias 
        <a [routerLink]="['/user', post.userId]" mat-dialog-close tabindex="-1">{{ user.username }}</a>
    </p>
    <h2 class="title">{{ post.title }}</h2>
    <p class="body">{{ post.body }}</p>
    <button mat-flat-button mat-dialog-close color="primary">Chiudi</button>
</article>
