<div class="post-list" [@fadeList]="getPosts().length">
    <post-item @fade class="post" *ngFor="let post of getPosts(); last as isLast" 
    [post]="post"
    [user]="getUser(post.userId)"
    [isLast]="isLast"
    [theme]="theme$"
    ></post-item>
</div>
