
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alten-exercise-primary: mat.define-palette(mat.$indigo-palette, A700);
$alten-exercise-accent: mat.define-palette(mat.$pink-palette, 400, A100, A400);

// The warn palette is optional (defaults to red).
$alten-exercise-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

// Default Theme

$alten-exercise-theme: mat.define-light-theme((
  color: (
    primary: $alten-exercise-primary,
    accent: $alten-exercise-accent,
    warn: $alten-exercise-warn,
  )
));

// Pink Theme
$alternate-primary: mat.define-palette(mat.$pink-palette, 400);
$alternative-theme: mat.define-light-theme((
  color: (
    primary: $alternate-primary,
    accent: $alten-exercise-accent,
    warn: $alten-exercise-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($alten-exercise-theme);

.pink-theme {
  @include mat.all-component-colors($alternative-theme);
}

