@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#root {
    max-width: 700px;
    flex: 1;
    min-height: 100vh;
}

h1 {
  font-weight: 600;
  color:rgb(105, 105, 224);
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  color:rgb(105, 105, 224);
  font-size: 1.7rem;
}

h3 {
  font-weight: 500;
  color:rgb(105, 105, 224);
  font-size: 1rem;
}

p {
  font-weight: 400;
  color:rgb(56, 56, 56);
  font-size: 1rem;
}

a {
  color: rgb(83, 83, 219);
}

.pink-theme h1, 
.pink-theme h2, 
.pink-theme h3, 
.pink-theme a {
  color: #ec407a;
}

@media only screen and (max-width: 768px) {
 
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.8rem;
  }
  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
