<button routerLink="/" mat-button color="primary">
    <mat-icon class="icon-back" fontIcon="chevron_left" aria-hidden="true"></mat-icon>
    Indietro
</button>
<div *ngIf="user" class="user-profile">
    <h1>{{ user.username }}</h1>
    <h3>Profilo Utente</h3>
    <p><b>Nome:</b> {{ user.name }}</p>
    <p><b>Indirizzo:</b> {{ user.address.street + ', ' + user.address.city }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<p *ngIf="!user && !loading" class="error-message">Utente non trovato.</p>
